<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p> Este es la pagina para cerra la sesión </p>
<p> también es la pagina para editar el password ? </p>
<p> también es la pagina que te despues de hacer sesion o log in</p>