
<section class="container">
	<div class="col-md-11 text-center">
		<h1> :(  Sorry, no tienes acceso a esta página :(  <h1>
	</div>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-md-6"> <!-- Erro compu -->
			<iframe src="//giphy.com/embed/bAy8xK8qcCz0A" width="480" height="266" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/error-movie-film-bAy8xK8qcCz0A">via GIPHY</a></p>
		</div>
		<div class="col-md-6"> <!-- Erro tay tay -->			
			<iframe src="//giphy.com/embed/rvDtLCABDMaqY" width="480" height="266" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/rvDtLCABDMaqY">via GIPHY</a></p>
		</div>
	</div>
</section>
