

<h1> Esta es la pagina principal </h1>

<p> Este es un link para agregar un nuevo usuario</p>

<div> <!-- Agregar el boton -->
	<%= link_to "New user", new_user_path %> <br>

	<%= link_to "Log in",  new_user_session_path %>
</div>



<br>

<p>Welcome#index</p>
<p>Find me in app/views/welcome/index.html.erb</p>
