<div class="container">
	<div class="col-md-12 text-center">
		<h1> ¡Tres geniales programadoras en el día, super espias en la noche! </h1>
			<iframe src="//giphy.com/embed/SD13ZG5B8IhsQ" width="480" height="211" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/SD13ZG5B8IhsQ">via GIPHY</a></p>
	</div>
	<br>
	<p class="col-md-12 text-center"> Gracias a Desafio Latam por apurarnos con las clases y enseñarnos a convertir café en codigo.</p>
</div>