

<div class="container">
	<h3 id="T3"> Nuevo Obejeto </h3>

	<p> ¡Añade un nuevo objeto para intercambiar!</p>
	
	<div id="TruForm" >
	<%= render 'form' %>

	</div>

	<%= link_to 'Back', items_path %>
</div>