/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#header {
    float: left;
    background: #28ABE3;
    height: 80px;
    width: 100%;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/* navbar */
#contblue {
	background-color: #28ABE3;    
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(40, 171, 227, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(40, 171, 227, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(40, 171, 227, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(44, 160, 209, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #2ca0d1;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #2ca0d1;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #2ca0d1;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #28abe3;
}

#navimg {
	width: 80px;
    height: 45px;
    padding-top: 0px;
}


#logo {
	padding: 0px;
	padding-top: 5px;
	padding-left: 1em;
	padding-right: 2.5em;
}

/* end navbar */

.tf {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

#TruForm {
	font-family: 'Open Sans-semi bold', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	text-align: left;
}

#TruForm2 {
	padding-top: 10px;
}

#TFbutton {
	font-family: 'Open Sans-semi bold', sans-serif;
    background: $accent;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: $white;
    @include transition(.3s ease);
    &:hover {
      background: darken($accent, 15%);
    }
}



.WFdiv {
	margin-bottom: 30px;
	padding: 0 40px;
}

.Wdiv{
	background-color:#28ABE3;
}

#T3 {
	font-family: 'Bree Serif', serif;	

} 

.btnW {

	font-family: 'Bree Serif', serif;
	margin-top: 20px;

} 

.Formbtn {

	font-family: 'Open Sans-semi bold', sans-serif;
	text-transform: uppercase;
	margin-top: 10px;	
} 

.Tbtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


#footerT {
	padding-top: 50px;
}

#corazon{
    font-size:30px;
}
.glyphicon{
    font-size:30px;
}
#imagen-random{
    display: block;
    margin:0 auto;
    width: 600px;
    height: auto;
}
.vertical-space{
    margin-top: 1.25em;
}
#imagen-1{
    display: block;
    margin:0 auto;
    width: 600px;
    height: auto;
}
#imagen-2{
    display: block;
    margin:0 auto;
    width: 600px;
    height: auto;
}